h2, h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

td, th {
  padding: 10px 10px 0 10px;
}

th {

  vertical-align: bottom;

  &.rotate {
    height: 70px;
    white-space: nowrap;

    > div {
      transform: translate(-10px, -10px) rotate(315deg);
      width: 30px;

      > span {
        border-bottom: 1px solid #ccc;
        padding: 5px 10px;
      }
    }
  }
}

.actions {
  margin-top: 30px;
}

.cancel {
  margin-right: 10px;
}

checkbox {

}
