@import '~yti-common-ui/theme/variables';

.input-group-search {
  width: 400px;
}

.organization {

  display: inline-block;
  width: 100%;
  padding: 5px 10px 5px 5px;
  font-size: large;

  border-left: $active-indicator-width solid $white;

  &.viewable {
    color: $primary;
    cursor: pointer;

    &:hover {
      border-left: $active-indicator-width solid $primary;
    }
  }
}
