.add-new-organization {
  padding-top: 30px;

  button {
    padding: 10px;
    margin: 5px;
    background-color: #2A6EBB;
    border-radius: 5px;
    float: right;

    &:hover {
      background-color: #2562A7;
    }
  }
}
li {
  margin-left: 10px;
}
h2 {
  display: inline-block;
}

#organizations-list {
  padding: 10px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 5px;
  width: 100%;
  margin: 20px;
}
