#users {
  border-style: solid;
  border-color: lightgray;
  border-radius: 5px;
  width: auto;
}

#userdetails{
  border-style: solid;
  border-color: lightgray;
  border-radius: 5px;
  display: inline-block;
  margin-left: 5px;
  width: 30%;
  height: 30%;
  float: right;
  margin-top: 65px;
}
