#accessrequests {
  //padding-left: 20px;
  margin-top: 20px;

  padding: 10px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 5px;
  width: 100%;
  margin: 20px;
}

#acceptrequest {
  //margin-left: 10px;
  padding-right: 10px;
}

td, th {
  padding: 10px 10px 0 0;

}

th {

  vertical-align: bottom;
}

tr, td, th {
  font-size: 1.01em;
}

/*tr {
  &:hover {
    background-color: #2562A7;
  }
}*/

container {
  margin-top: 20px;
}
