#userstable {
  background-color: #dbe4f2;
}

/*table tr:nth-child(odd) td{
  background-color: #2aabd2;
}
table tr:nth-child(even) td{
  background-color: #0275d8;
}*/


#filterlabel {
  margin-left: 18%;
}

#orgtd {
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}

#userlist {
  margin-left: 15px;
}

#organizationrow {
  margin-left: 20px;
}
