#userstable {
  background-color: #dbe4f2;
}

#filterlabel {
  font-weight: bold;
  float: right;
}

#orgtd {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

#userlist {
  margin-left: 15px;
}

#organizationrow {
  margin-left: 20px;
}

