@import "~font-awesome/scss/variables";
@import "~yti-common-ui/theme/init";

$page-padding: 100px;

nav.navbar {
  padding-left: $page-padding;
  padding-right: $page-padding;
}

.container-fluid {
  padding: 20px $page-padding;
  background-color: $light;
  border-top: 1px solid $gray;
}

[hidden] {
  display: none !important;
}

.input-group.input-group-search {

  position: relative !important;

  .form-control {
    padding-right: 3rem !important;

    &:focus {
      outline: 0 none;
    }
  }

  &:before {
    color: $gray-600;
    content: $fa-var-search;
    font-family: FontAwesome;
    top: 10px;
    right: 15px;
    font-size: $font-size-lg;
    position: absolute;
    z-index: 10;
  }
}

.top-actions {

  @include clearfix;
  margin-bottom: 20px;

  button {
    margin: 0 0 0 10px;
  }
}
