<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style>
    </style>
</head>
<body>

<h1>Login error</h1>

<p th:if="${not #missingSignUp}">
    <ul>
        <li th:text="'Now: ' + ${now}"></li>
        <li th:text="'RequestURL: ' + ${requestUrl}"></li>
        <li th:text="'ErrorType: ' + ${errorType}"></li>
        <li th:text="'ErrorText: ' + ${errorText}"></li>
        <li th:text="'RelayState: ' + ${relayState}"></li>
        <li th:text="'EntityID: ' + ${entityID}"></li>
        <li th:text="'StatusCode: ' + ${statusCode}"></li>
        <li th:text="'StatusCode2: ' + ${statusCode2}"></li>
    </ul>
</p>

<p th:if="${#missingSignUp}">
    You need to register to continue as logged in user. You can register from <a th:href="@{${registrationUrl}}">here</a>.
    You can continue back to the site from <a th:href="@{${goBackUrl}}">here</a> after you have verified your email address.
</p>

</body>
</html>
