<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style>
    </style>
</head>
<body>

<div th:if="${genericError}">

    <h1>Login error</h1>

    <p>
        <ul>
            <li th:text="'Now: ' + ${now}"></li>
            <li th:text="'RequestURL: ' + ${requestUrl}"></li>
            <li th:text="'ErrorType: ' + ${errorType}"></li>
            <li th:text="'ErrorText: ' + ${errorText}"></li>
            <li th:text="'RelayState: ' + ${relayState}"></li>
            <li th:text="'EntityID: ' + ${entityID}"></li>
            <li th:text="'StatusCode: ' + ${statusCode}"></li>
            <li th:text="'StatusCode2: ' + ${statusCode2}"></li>
        </ul>
    </p>

</div>

<div th:if="${missingSignUp}">

    <h1>Missing registration</h1>

    <p>
        You have to <a th:href="@{${registrationUrl}}" target="_blank">register</a> to continue as a logged in user.
        Go <a th:href="@{${goBackUrl}}">back</a> to the site after you have verified your email address.
    </p>

</div>

</body>
</html>
