<div class="content-box">
  <h1>Tietoa yhteentoimivuusalustan oikeuksienhallinnasta (käyttövaltuuksien hallinnasta)</h1>
  <br>
  <p>Yhteentoimivuusalustan oikeuksienhallinta -työkalulla määritellään organisaatioita tai ryhmiä ja näihin liitettyjä käyttäjiä. Tietojen muokkaus yhteentoimivuusalustan työkaluissa edellyttää käyttäjän tunnistautumista ja työkalukohtaisia oikeuksia. Työkaluissa tietojen muokkausoikeudet
    ovat ainoastaan oman organisaation tietomääritysten ylläpitäjillä.</p>

  <p>Oikeuksienhallinnan käyttäjärooleja ovat:</p>

  <ul>
    <li>Organisaation/ryhmän pääkäyttäjä (oikeuksien ylläpitäjä)</li>
    <li>Sanastotyöntekijä</li>
    <li>Tietomallintaja</li>
    <li>Koodistotyöntekijä</li>
  </ul>
  <p>
  Yhteentoimivuusalustan työkalujen käyttöönotto edellyttää käyttäjäorganisaatiolta rekisteröitymistä ja alustan käyttöehtojen hyväksymistä. Käyttäjäorganisaatio hakee palveluntuottajalta organisaation pääkäyttäjän oikeuden. Organisaation pääkäyttäjä (oikeuksien ylläpitäjä) hyväksyy jatkossa muiden oman organisaation käyttäjien käyttöoikeushakemukset.
  </p>
  <p>
    Käyttäjien todentaminen (autentikointi) tehdään eDuuni-palvelussa (ks. <a href="https://info.eduuni.fi/yleista/mika-on-eduuni">https://info.eduuni.fi/yleista/mika-on-eduuni/</a>). Oikeuksienhallinnan sovellus käyttää eDuunin tietoja yhteentoimivuusvälineiden pääsyn hallintaan. Yhteentoimivuusvälineistön tietomäärityksen omistajuus liitetään sovelluksella aina yhteen tai useampaan organisaatioon tai ryhmään. Yhteentoimivuusalustan työkalut tarkastavat oikeuksienhallintasovelluksesta kuuluuko käyttäjä organisaatioon ja onko käyttäjällä oikeutta käyttää työkalua eli onko hänellä rooli työkalussa.
  </p>
  <p>Ryhmienhallinnan lähtökohdat:</p>
  <ul>
    <li>Työkaluissa kehitettävät tietomääritykset (sanastot, tietomallit, koodistot) liitetään aina yhteen tai useampaan organisaatioon tai ryhmään.</li>
    <li>Työkalu tarkistaa oikeuksienhallinnan sovelluksesta onko käyttäjällä roolia (muokkausoikeuksia) kyseisessä organisaatiossa</li>
    <li>Käyttäjä voidaan liittää ryhmienhallintapalvelussa useampaan organisaatioon eri rooleissa.</li>
  </ul>

  Kirjautumistavan käyttäjä voi valita itse. Luotettuja kirjautumistapoja ovat:
  <ul>
    <li>Organisaation omat tunnukset, jos organisaatio on Haka-, Virtu tai eduGAIN-luottamusverkoston jäsen tai organisaatiolla on käytössä Microsoft Office 365 (Azure AD) palvelut.</li>
    <li>ORCID, B2ACCESS, MPASS – tunnukset</li>
    <li>Facebook, Google, LinkedIn, Microsoft, Twitter tai Yahoo! – tunnukset.</li>
  </ul>
  <br>

  <h2>Katso myös</h2>
  <ul>
    <li><a href="https://confluence.csc.fi/display/VRKYTI/Oikeuksienhallinta">Oikeuksienhallinnan dokumentaatio YTI-hankkeen dokumentaatiossa</a></li>
    <li><a href="http://yhteentoimiva.suomi.fi">yhteentoimiva.suomi.fi</a></li>
    <li><a href="https://confluence.csc.fi/display/VRKYTI/VRK+YTI">YTI-hankkeen dokumentaatio Confluencessa</a></li>
    <li><a href="http://vm.fi/yhteinen-tiedon-hallinta">VM:n yhteinen tiedon hallinta (YTI) -hankkeen sivut</a></li>
    <li><a href="https://info.eduuni.fi/yleista/mika-on-eduuni/">eDuuni</a></li>
  </ul>
  <br>
  <h2>Ota yhteyttä</h2>
  Sähköpostilla osoitteeseen <pre>yhteentoimivuus[at]vrk.fi</pre>


</div>
